[Unit]
Description=Demo image classification with remote Tensorflow model
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/tfwebapp -addr {{ addr }} -samples {{ samples }}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
